CHAINLIT_HOST=0.0.0.0
CHAINLIT_PORT=8000
CHAINLIT_LANGUAGE=en-US
CHAINLIT_REQUIRE_LOGIN=true
CHAINLIT_AUTH_SECRET=

REDIS_HOST=redis
REDIS_PORT=6379
DATABASE_URL=postgresql://root:root@postgres:5432/postgres

BUCKET_NAME=aws-fin-ops-bot-data
APP_AWS_ACCESS_KEY=dummy-key
APP_AWS_SECRET_KEY=dummy-key
DEV_AWS_ENDPOINT=http://localstack:4566
