AWS_COST_EXPLORER_MCP_PORT=8001
AWS_COST_EXPLORER_MCP_HOST=127.0.0.1

AWS_CCAPI_MCP_PORT=8002
AWS_CCAPI_MCP_HOST=127.0.0.1

AWS_CLOUDWATCH_MCP_PORT=8003
AWS_CLOUDWATCH_MCP_HOST=127.0.0.1

AWS_BILLING_MCP_PORT=8084
AWS_BILLING_MCP_HOST=127.0.0.1

AWS_CLOUDTRAIL_MCP_PORT=8005
AWS_CLOUDTRAIL_MCP_HOST=127.0.0.1

AWS_PRICING_MCP_PORT=8006
AWS_PRICING_MCP_HOST=127.0.0.1
