AWS_CCAPI_MCP_SERVER_VERSION=latest
AWS_COST_EXPLORER_MCP_SERVER_VERSION=latest
AWS_CLOUDWATCH_MCP_SERVER_VERSION=latest
AWS_BILLING_MCP_SERVER_VERSION=latest
AWS_CLOUDTRAIL_MCP_SERVER_VERSION=latest
AWS_PRICING_MCP_SERVER_VERSION=latest
